@font-face {
    font-family: 'Font1';
    src: url("Inlanders\ Demo.otf");
}

@font-face {
    font-family: 'Font2';
    src: url("Square.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #E6E6FA;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.container2{
    background: rgb(205,0,255);
    background: linear-gradient(90deg, rgba(205,0,255,1) 0%, rgba(73,73,238,1) 35%, rgba(0,212,255,1) 100%);
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 20px;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo{
    background: linear-gradient(90deg, #00f7ff 0%, rgb(231, 74, 255) 56%, rgb(255, 255, 255) 100%);
    background-size: 400% 100%;
    display: flex;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Font1';
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animação degradê da logo */

@keyframes degrade{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}

.logo:hover{
    color: 00d4ff;
    transition: .5s ease-in-out;
}

b{
    font-size: 32px;
    color: blueviolet;
}

.navItems{
    display: flex;
}

.navItems li{
    list-style: none;
    margin: 0 15px;
}

.navItems li a{
    font-size: 20px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Font1';
}

.navItems li:hover a{
    color: #EE82EE;
    transition: .5s ease-in-out;
}

/* Menu para mobile */

.mobile-menu{
    display: none;
    cursor: pointer;
    padding-top: 15px;
}

.mobile-menu div{
    width: 35px;
    height: 5px;
    background: #fff;
    margin: 8px;
}

/* Principal */

.wrapper{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

h2{
    font-family: 'Font1';
    color: #00d4ff;
    margin-top: 30px;
}

/* .wrapper::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg, blueviolet, pink);
    animation: object 6s linear infinite;
}

.wrapper::after{
    margin-top: 20px;
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg, blueviolet, pink);
    animation: object1 6s linear infinite;
}

@keyframes object{
    50%{
        left: -5%;
    }
}

@keyframes object1{
    50%{
        left: 25%;
    }
}*/

.cols{
    width: 50%;
}

.cols0{
    z-index: 5;
}

.cols1{
    width: 35em;
}

.topline{
    display: block;
    position: relative;
    font-size: 40px;
    letter-spacing: 5px;
    color: #EE82EE;
    font-family: 'Font1';
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #0079b5;
}

h1{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #EE82EE;
    font-family: 'Font1';
}

.multiText, .multiText2, .multiText3, .multiText4{
    color: #00d4ff;
    text-transform: capitalize;
}

p{
    display: block;
    width: 100%;
    font-size: 1.5em;
    color: #0079b5;
    font-family: 'Font2';
}

.btns{
    width: 100%;
    position: relative;
}

button{
    margin-top: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #0079b5;
    font-family: 'Font2';
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}

button:hover{
    background-color: blueviolet;
    transition: 0.3s ease-in-out;
}

/* .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.imgbox .perfil{
    position: relative;
    height: 100%;
    width: 100%;
    top: 70px;
}

.imgbox .fundo{
    position: absolute;
    width: 150%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
} */

/* Sobre & Certificados e diplomas */

section{
    text-align: center;
    font-family: 'Font1';
    scroll-snap-align: start;
}

.box i{
    color: #EE82EE;
    font-size: 50px;
}

section h3{
    color: blueviolet;
    font-family: 'Font2';
    margin-top: 10px;
    margin-bottom: 10px;
}

section h2{
    color: #0079b5;
}

section p{
    margin-top: 20px;
    margin-bottom: 40px;
}

section .obs{
    text-align: center;
    color: red;
    font-size: 15px;
    margin-bottom: -20px;
}

.blocos{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.blocosS{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.box{
    background: #fff;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
    border-radius: 20px;
    padding: 45px 30px;
    cursor: pointer;
    max-width: 25em;
}

/* Projetos */

.content{
    height: 70%;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    margin-top: -35px;
}

.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar{
    width: 70px;
    height: 25px;
    border: 5px solid blueviolet;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.bar:hover{
    background: blueviolet;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
}

.slides img{
    width: 80vw;
}

.slide{
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

#slide6:checked ~ .s1{
    margin-left: -100%;
}

#slide7:checked ~ .s1{
    margin-left: -120%;
}

.overlay{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s;
    font-size: 80px;
}

.overlay:hover{
    opacity: 0.5;
}

#projetos .tag{
    font-size: 40px;
    color: #fff;
}

#tag{
    display: none;
}

#click{
    display: none;
}

/* Links flutuantes */

.links{
    position: fixed;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
    z-index: 1;
}

.links i{
    font-size: 35px;
    color: #EE82EE;
}

#up{
    margin-bottom: 5px;
}

.links ul{
    display: flex;
    gap: 15px;
}

.links ul li{
    list-style: none;
    background: #fff;
    border-radius: 30px;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,.5);
}

.links ul li:hover{
    transform: scale(1.2);
    transition: 1s;
}

/* Contatos */ 

.container-contatos{
    width: 100%;
    min-height: 15vh;
    background: rgb(205,0,255);
    background: linear-gradient(90deg, rgba(205,0,255,1) 0%, rgba(73,73,238,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

.container-contatos h1{
    font-size: 40px;
    color: #fff;
}

.container-contatos p{
    color: #fff;
}

.slidemobile{
    display: none;
}

/* Scrollbar */

::-webkit-scrollbar{
    width: 10px;
    background-color: #0079b5;
}

::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}

/* Definições mobile */

@media (max-width: 999px){
    .navItems{
        border: 3px solid blueviolet;
        position: absolute;
        top: 6em;
        width: 85%;
        border-radius: 50px;
        height: 70%;
        background: #00d5ffba;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        transform: translateY(-120%);
        transition: transform 0.3s ease-in;
    }
    body{
        overflow-x: hidden;
    }
    .navItems li a{
        font-size: 30px;
    }
    .navItems.active{
        transform: translateX(0);
    }
    .mobile-menu{
        display: block;
        transition: 0.5s;
    }
    .mobile-menu.active .line1{
        transform: rotate(-40deg) translate(-18px, -3px);
        transition: 0.5s;
    }
    .mobile-menu.active .line2{
        opacity: 0;
    }
    .mobile-menu.active .line3{
        transform: rotate(40deg) translate(-21px, -3px);
        transition: 0.5s;
    }
    .links i{
        display: inline;
        margin: 5px;
    }
    .links{
        position: fixed;
        margin-top: 0px;
    }
    .wrapper{
        display: block;
        width: 192%;
    }
    .wrapper::before{
        display: none;
    }
    .wrapper::after{
        display: none;
    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.5em;
    }
    .sobre p{
        margin-bottom: 0px;
    }
    .blocos{
        display: inline-block;
        margin-top: 0;
    }
    .box{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .slides img{
        width: 80vw;
        height: 80vw;
    }
    .imgbox{
        width: 80vw;
        height: 80vw;
    }
    .imgbox .fundo{
        width: 120%;
    }
}

@media (max-width: 700px){
    .links i{
        font-size: 35px;
    }
    p{
        font-size: 1.3em;
    }
    .content{
        display: none;
    }
    .slidemobile{
        display: block;
    }
    .slidemobile img{
        width: 650px;
        border-radius: 20px;
    }
    .slidemobile h1{
        margin-top: 50px;
        font-size: 7vw;
    }
}

@media (max-width: 400px){
    .links i{
        font-size: 30px;
    }
    .wrapper::before{
        display: none;
    }
    .slidemobile img{
        width: 350px;
    }
    .slidemobile h1{
        font-size: 10vw;
    }
    .imgbox .fundo{
        width: 120%;
        top: 140px;
    }
    h1{
        font-size: 25px;
    }
    .container-contatos h1{
        font-size: 25px;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}